@font-face {
  font-family: AvantGardeDemi;
  src:
      url('../../assets/fonts/ITCAvantGardeStd-Demi.eot') format('eot'),
      url('../../assets/fonts/ITCAvantGardeStd-Demi.woff') format('woff'),
      url('../../assets/fonts/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
}

@font-face {
  font-family: AvantGardeMedium;
  src:
      url('../../assets/fonts/ITCAvantGardeStd-Md.eot') format('eot'),
      url('../../assets/fonts/ITCAvantGardeStd-Md.woff') format('woff'),
      url('../../assets/fonts/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
}

@font-face {
  font-family: AvantGardeLight;
  src:
      url('../../assets/fonts/ITCAvantGardeStd-XLt.eot') format('eot'),
      url('../../assets/fonts/ITCAvantGardeStd-XLt.woff') format('woff'),
      url('../../assets/fonts/ITCAvantGardeStd-XLt.svg#ITCAvantGardeStd-XLt') format('svg');
}
